{% extends "superuser/base_superuser.html" %}
{% block title %}Transactions{% endblock %}
{% block content %}
  <h2>All Transactions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date/Time</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount Sent</th>
        <th>Amount Received</th>
      </tr>
    </thead>
    <tbody>
      {% for tx in txs %}
        <tr>
          <td>{{ tx.time|date:"Y-m-d H:i" }}</td>
          <td>{{ tx.sender }}</td>
          <td>{{ tx.receiver }}</td>
          <td>{{ tx.sender_symbol }}{{ tx.amount|floatformat:2 }}</td>
          <td>{{ tx.receiver_symbol }}{{ tx.converted_amount|floatformat:2 }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="5">No transactions to display.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
