{% extends 'commentstoreapp/base.html' %}

{% block title %}
    Comment Store Homepage
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% if cmnt_list|length > 0 %}
            <h5>User <em>{{user.username}}</em> payments:</h5>
            <br>
            <table>
                <tr>
                    <th>From</th>
                    <th>Time</th>
                    <th>Amount</th>
                </tr>
                {% for cmnt in cmnt_list %}
                    <tr>
                        <td>{{ cmnt.name }}</td>
                        <td>{{ cmnt.payment_time }}</td>
                        <td>{{ cmnt.payment_amount }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h5>There are no payments for user: <em>{{user.username}}</em>.</h5>
        {% endif %}
    {% else %}
        <h5>Comment Store Application Homepage.</h5>
    {% endif %}

{% endblock %}